body {
    background-color: #FF69B4;
}

header {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}
label {
    display: flex;
    margin: 5px;
    padding: 10px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    max-width:100px;
}

input:focus {
    background: #eaeaea;
}
textarea:focus {
    background: #eaeaea;
}

